<div class="mat-typography">
    <h2 *ngIf="user">{{user.name}}</h2>

    <h3>Notes</h3>

    <h4>Filter content:</h4>
    <mat-form-field>
        <mat-label>Content</mat-label>
        <input matInput [(ngModel)]="searchContent" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="filterContent()">Filter by content</button>
    <button mat-raised-button color="basic" (click)="clearContent()">Clear content filter</button>

    <h4>Filter category:</h4>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="searchCategory" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="filterCategory()">Filter by category</button>
    <button mat-raised-button color="basic" (click)="clearCategory()">Clear category filter</button>

    <h4>Add new note:</h4>
    <mat-form-field>
        <mat-label>Content</mat-label>
        <input matInput [(ngModel)]="newContent" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="newCategory" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addNote()">Add note</button>

    <app-note *ngFor="let note of notes" [note]="note" (deletedNote)="deleteNote($event)"></app-note>
</div>