<h2>{{ user.name }}</h2>
<h3>Notes</h3>
<form>
    <h4>Filter content:</h4>
    <p>
        <label>Content: </label><input [(ngModel)]="searchContent" [ngModelOptions]="{standalone: true}"/>
    </p>
    <button (click)="filterContent()">Filter by content</button>
    <button (click)="clearContent()">Clear content filter</button>
</form>
<form>
    <h4>Filter category:</h4>
    <p>
        <label>Category: </label><input [(ngModel)]="searchCategory" [ngModelOptions]="{standalone: true}"/>
    </p>
    <button (click)="filterCategory()">Filter by category</button>
    <button (click)="clearCategory()">Clear category filter</button>
</form>
<form>
    <h4>New note:</h4>
    <p>
        <label>Content: </label><input [(ngModel)]="newContent" [ngModelOptions]="{standalone: true}"/>
    </p>
    <p>
        <label>Category: </label><input [(ngModel)]="newCategory" [ngModelOptions]="{standalone: true}"/>
    </p>
    <button (click)="addNote()">Add note</button>
</form>
<br/>
<app-note *ngFor="let note of notes" [note]="note" (deletedNote)="deleteNote($event)"></app-note>
