<div class="mat-typography">
    <h4>Note:</h4>

    <p>
        <mat-form-field>
            <mat-label>Content</mat-label>
            <input matInput [(ngModel)]="note.content" [ngModelOptions]="{standalone: true}"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput [(ngModel)]="note.category" [ngModelOptions]="{standalone: true}"/>
        </mat-form-field>
    </p>
    
    <p>
        <button button mat-raised-button color="primary" (click)="updateNote(note.id)">Update this note</button>
        <button button mat-raised-button color="warn" (click)="onDeleteNoteClick()">Delete this note</button>
    </p>
</div>